# Google Gemini
GOOGLE_API_KEY=your_google_api_key_here

# Pinecone
PINECONE_API_KEY=your_pinecone_api_key_here
PINECONE_INDEX_NAME=devops-rag
PINECONE_NAMESPACE=sre-incidents

# Gemini Embeddings
GEMINI_EMBEDDING_MODEL=gemini-embedding-001